@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  background-color: #000;
  color: #fff;
}

body * {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Noto Sans KR', sans-serif;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

.wrap {
  width: 100%;
  height: 100%;
}



/* 헤더 */

header {
  width: 100vw;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 30;
}

.header-wrap {
  width: 1200px;
  height: 100%;
}

.main-gnb {
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  font-weight: 200;
  display: flex;
}

.main-gnb li {
  margin-left: 20px;
}

.main-gnb li a,
.main-gnb li i {
  transition: all 0.3s;
}

.main-gnb li a:hover {
  color: #FFDC00;
}

.main-gnb li i:hover {
  color: #FFDC00;
}

.main-gnb li:nth-child(2) a {
  color: #FFDC00;
  font-weight: 400;
}

.main-gnb li:last-child i {
  cursor: pointer;
}

.logo {
  display: block;
  width: 150px;
  height: 80px;
  background-image: url(../IMG/NATGEO\ KOREA.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-gnb-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99999;
}

.sub-gnb {
  width: 500px;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  right: 0;
  top: 0;
}

.sub-gnb ul {
  width: 100%;
  height: 100%;
  padding: 50px;
}

.sub-gnb li {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}

.sub-gnb li a,
.sub-gnb .close {
  transition: all 0.3s;
}

.sub-gnb li:hover a {
  color: #FFDC00;
}

.sub-gnb .close {
  width: 50px;
  height: 50px;
  margin: 0;
  cursor: pointer;
  background-image: url(../IMG/sub_gnb_close.png);
}

.sub-gnb .close:hover {
  background-image: url(../IMG/sub_gnb_close_hover.png);
}


/* 컨텐츠 */
.contents {
  background-color: #fff;
  width: 100%;
  height: auto;
  color: #000;
}

.bg-video {
  width: 100%;
  height: 750px;
  overflow: hidden;
  position: relative;
}

.video {
  width: 100%;
  top: -50%;
  margin-top: 300px;
  position: absolute
}

.video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
}

.brand-txt {
  width: 1140px;
  position: relative;
  z-index: 20;
}

.brand-txt h1 {
text-align: center;
font-size: 60px;
margin-top: -300px;
}

.brand-txt hr {
  height: 20px;
  background-color: #FFDC00;
  border: none;
  margin: 25px auto;
  margin-bottom: 100px;
}

.brand-txt ul li p a {
  border-bottom: 1px solid #FFDC00;
  transition: all 0.3s;
}
.brand-txt ul li p a:hover {
  border-bottom: 1px solid #000;
}

.brand-txt ul li {
  margin-top: 50px;
}

.brand-txt ul li:last-child {
  padding-bottom: 100px;
}


/* 푸터 */
footer {
  width: 100%;
  height: 300px;
  background-color: #262626;
}

.footer-con {
  width: 1200px;
  height: 100%;
}

.bt-menu {
  padding: 30px 0;
}

.bt-left {
  display: flex;
  justify-content: space-between;
}

.bt-left li {
  padding: 0 20px;
  border-right: 3px solid #FFDC00;
}

.bt-left li a {
  transition: all 0.3s;
}

.bt-left li a:hover {
  color: #FFDC00;
}

.bt-left li:first-child {
  padding-left: 0;
}

.bt-left li:last-child {
  border-right: none;
}

.bt-right {
  display: flex;
  justify-content: space-between;
}

.sns {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 50px;
}

.insta {
  background-image: url(../IMG/icon_insta.png);
}

.you {
  background-image: url(../IMG/icon_ytube.png);
}

.face {
  background-image: url(../IMG/icon_face.png);
}

.contect > p {
  margin-bottom: 30px;
}

.number {
  width: 1000px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 50px;
}

.number li {
  margin: 0;
}

.copy {
  font-size: 14px;
  color: #666;
}


/* 탑버튼 */
.top-btn {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  right: 200px;
  bottom: 100px;
  border-radius: 50px;
  cursor: pointer;
  display: none;
}

.top-btn i {
  font-size: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}