@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  background-color: #000;
  color: #fff;
}

body * {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Noto Sans KR', sans-serif;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

.wrap {
  width: 100%;
  height: 100%;
}



/* 헤더 */

header {
  width: 100vw;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 30;
}

.header-wrap {
  width: 1200px;
  height: 100%;
}

.main-gnb {
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  font-weight: 200;
  display: flex;
}

.main-gnb li {
  margin-left: 20px;
}

.main-gnb li a,
.main-gnb li i {
  transition: all 0.3s;
}

.main-gnb li a:hover {
  color: #FFDC00;
}

.main-gnb li i:hover {
  color: #FFDC00;
}

.main-gnb li:nth-child(3) a {
  color: #FFDC00;
  font-weight: 400;
}

.main-gnb li:last-child i {
  cursor: pointer;
}

.logo {
  display: block;
  width: 150px;
  height: 80px;
  background-image: url(../IMG/NATGEO\ KOREA.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sub-gnb-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99999;
}

.sub-gnb {
  width: 500px;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  right: 0;
  top: 0;
}

.sub-gnb ul {
  width: 100%;
  height: 100%;
  padding: 50px;
}

.sub-gnb li {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}

.sub-gnb li a,
.sub-gnb .close {
  transition: all 0.3s;
}

.sub-gnb li:hover a {
  color: #FFDC00;
}

.sub-gnb .close {
  width: 50px;
  height: 50px;
  margin: 0;
  cursor: pointer;
  background-image: url(../IMG/sub_gnb_close.png);
}

.sub-gnb .close:hover {
  background-image: url(../IMG/sub_gnb_close_hover.png);
}


/* 컨텐츠 */
.contents {
  padding-top: 120px;
}

.disney {
  width: 1200px;
  margin-bottom: 100px;
}

.disney ul {
  font-size: 14px;
  width: 496px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;
}

.disney ul li {
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.disney ul li:hover {
  color: #FFDC00;
}

.disney ul li.on {
  color: #FFDC00;
}

.disney ul li:nth-child(6),
.disney ul li:last-child {
  margin-right: 0;
}

.con-title {
  font-size: 30px;
  font-weight: bold;
  border-left: 3px solid #FFDC00;
  padding-left: 20px;
  margin-bottom: 50px;
}

.box_3 {
  width: 1200px;
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  gap: 0 30px;
}

.box_3 .box {
  margin: 0;
  width: 380px;
  height: 416px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  cursor: pointer;
  /* transition: all 0.3s; */
  top: 0;
  margin-bottom: 50px;
}

.box_3 .box:hover .box-txt {
  color: #FFDC00;
}

.box-bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));
  width: 100%;
  height: 208px;
  position: absolute;
  bottom: 0;
}

.box-txt {
  width: 100%;
  height: 148px;
  padding: 0 20px 20px 20px;
  position: absolute;
  z-index: 10;
  bottom: 0;
  transition: all 0.3s;
}

.box-txt p {
  font-size: 20px;
  font-weight: bold;
}

.box-txt p:first-child {
  margin-bottom: 15px;
}

.box-txt p:last-child {
  font-size: 16px;
  font-weight: 400;
}



.box.box1 {
  background-image: url(../IMG/disney1.jpg);
}

.box.box2 {
  background-image: url(../IMG/disney2.jpg);
}

.box.box3 {
  background-image: url(../IMG/disney3.jpg);
}

.box.box4 {
  background-image: url(../IMG/disney4.jpg);
}

.box.box5 {
  background-image: url(../IMG/disney5.jpg);
}

.box.box6 {
  background-image: url(../IMG/disney6.jpg);
  background-position: right;
}

.box.box7 {
  background-image: url(../IMG/disney7.jpg);
}

.box.box8 {
  background-image: url(../IMG/disney8.jpg);
}

.box.box9 {
  background-image: url(../IMG/disney9.jpg);
}

.box.box10 {
  background-image: url(../IMG/disney10.jpg);
  background-position: right;
}

.box.box11 {
  background-image: url(../IMG/disney11.jpg);
}

.box.box12 {
  background-image: url(../IMG/disney12.jpg);
}

.box.box13 {
  background-image: url(../IMG/disney13.jpg);
}

.box.box14 {
  background-image: url(../IMG/disney14.jpg);
  background-position: right;
}

.box.box15 {
  background-image: url(../IMG/disney15.jpg);
}

.box.box16 {
  background-image: url(../IMG/disney16.jpg);
}

.box.box17 {
  background-image: url(../IMG/disney17.jpg);
}

.box.box18 {
  background-image: url(../IMG/disney18.jpg);
  background-position: right;

}

.box.box19 {
  background-image: url(../IMG/disney19.jpg);
}

.box.box20 {
  background-image: url(../IMG/disney20.jpg);
  background-position: right;

}

.box.box21 {
  background-image: url(../IMG/disney21.jpg);
}

.box.box22 {
  background-image: url(../IMG/disney22.jpg);
  background-position: right;

}

.box.box23 {
  background-position: left;
  background-image: url(../IMG/disney23.jpg);
}

.box.box24 {
  background-image: url(../IMG/disney24.jpg);
}

.box.box25 {
  background-image: url(../IMG/disney25.jpg);
}

.box.box26 {
  background-image: url(../IMG/disney26.jpg);
  background-position: right;

}

.box.box27 {
  background-position: left;
  background-image: url(../IMG/disney27.jpg);
}

.box.box28 {
  background-image: url(../IMG/disney28.jpg);
}

.box.box29 {
  background-image: url(../IMG/disney29.jpg);
}

.box.box30 {
  background-image: url(../IMG/disney30.jpg);
}

.box.box31 {
  background-image: url(../IMG/disney31.jpg);
}

.box.box32 {
  background-image: url(../IMG/disney32.jpg);
}

.box.box33 {
  background-image: url(../IMG/disney33.jpg);
}

.box.box34 {
  background-image: url(../IMG/disney34.jpg);
}

.box.box35 {
  background-image: url(../IMG/disney35.jpg);
}

.box.box36 {
  background-image: url(../IMG/disney36.jpg);
}

.box.box37 {
  background-image: url(../IMG/disney37.jpg);
}

.box.box38 {
  background-image: url(../IMG/disney38.jpg);
}

.box.box39 {
  background-image: url(../IMG/disney39.jpg);
}




/* 푸터 */
footer {
  width: 100%;
  height: 300px;
  background-color: #262626;
}

.footer-con {
  width: 1200px;
  height: 100%;
}

.bt-menu {
  padding: 30px 0;
}

.bt-left {
  display: flex;
  justify-content: space-between;
}

.bt-left li {
  padding: 0 20px;
  border-right: 3px solid #FFDC00;
}

.bt-left li a {
  transition: all 0.3s;
}

.bt-left li a:hover {
  color: #FFDC00;
}

.bt-left li:first-child {
  padding-left: 0;
}

.bt-left li:last-child {
  border-right: none;
}

.bt-right {
  display: flex;
  justify-content: space-between;
}

.sns {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 50px;
}

.insta {
  background-image: url(../IMG/icon_insta.png);
}

.you {
  background-image: url(../IMG/icon_ytube.png);
}

.face {
  background-image: url(../IMG/icon_face.png);
}

.contect>p {
  margin-bottom: 30px;
}

.number {
  width: 1000px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 50px;
}

.number li {
  margin: 0;
}

.copy {
  font-size: 14px;
  color: #666;
}


/* 탑버튼 */
.top-btn {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  right: 200px;
  bottom: 100px;
  border-radius: 50px;
  cursor: pointer;
  display: none;
}

.top-btn i {
  font-size: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}