@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  width: 100%;
  height: 85px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: #fff;
  position: fixed;
  z-index: 99999;
}

.top-bg {
  height: 85px;
}

.w-wrap {
  width: 1200px;
  height: 100%;
}


.logo {
  background-image: url(../images/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 196px;
  height: 48px;
  position: relative;
  top: 50%;
  margin-top: -24px;
  margin-left: 30px;
}

.main-gnb {
  margin-left: 30px;
}

.main-gnb>li>a {
  display: block;
  font-size: 20px;
  height: 100%;
  padding: 27.5px 10px;
}

.spot-menu {
  position: relative;
  height: 30px;
  line-height: 30px;
  top: 50%;
  margin-top: -15px;
}

.spot li:last-child {
  color: #0075FF;
}

.spot li::after {
  content: '|';
  margin: 0 10px;
}

.spot li:last-child:after {
  content: none;
}

.sub-wrap {
  width: 100%;
  height: 230px;
  background-color: #fff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  display: none;
  position: relative;
  z-index: 9999;
}

.container {
  width: 1200px;
}

.sub-con {
  height: 230px;
  position: absolute;
  display: none;
}

.sub-gnb {
  display: flex;
  position: absolute;
}

.sub-gnb ul {
  margin: 0;
  width: 400px;
  padding: 30px;
}

.sub-gnb li {
  margin-bottom: 10px;
}

.sub-gnb li:last-child {
  margin-bottom: 0;
}

.sub-gnb span,
.mo-sub span,
.mo-sit-sub span {
  font-size: 12px;
  background-color: orange;
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.new {
  background-color: mediumturquoise !important;
}

.sub-gnb ul:last-child li a {
  display: block;
  width: 100%;
  text-align: right;
}

.sub-con.active {
  display: block;
}

.mo-gnb,
.mo-menu-open {
  display: none;
}


/* 슬라이드 */
.slider-wrap {
  width: 100vw;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.slider-btn {
  width: 1400px;
  position: absolute;
  left: 50%;
  margin-left: -700px;
  height: 500px;
}

.slider-btn i {
  font-size: 40px;
  position: absolute;
  top: 50%;
  color: #000;
  cursor: pointer;
  z-index: 10;
}

.slider-btn .fa-chevron-right {
  right: 0;
}

.slider-btn .fa-chevron-left {
  left: 0;
}

.slider {
  position: relative;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 100%;
  transition: all 0.5s;
  width: 100%;
  height: 500px;
}

.slider-item.on {
  left: 0;
}

.slider-item.go {
  left: -100%;
  z-index: -1;
}

.slider-item.back {
  left: 100%;
  z-index: -10;
}



.slider-wrap>.slider>li>img {
  width: 100vw;
  height: 100%;
}

.item1 {
  background-color: #22ade4;
  color: #fff;

}

.item1 .slider-con a {
  border: 1px solid #fff;
}

.item2 {
  background-color: #faf6dc;
}

.item3 {
  background-color: #8a70d4;
  color: #fff;
}

.item3 .slider-con a {
  border: 1px solid #fff;
}

.item4 {
  background-color: #f2f3f7;
}

.item5 {
  background-color: #d0e7cf;
}


.slider-con {
  position: absolute;
  width: 1200px;
  height: 500px;
  left: 50%;
  margin-left: -600px;
}

.slider-con h1 {
  margin-top: 150px;
}

.slider-con p {
  font-size: 20px;
}

.slider-con a {
  display: block;
  width: 130px;
  height: 50px;
  margin: 20px 0;
  border: 1px solid #000;
  text-align: center;
  line-height: 50px;
}

.slider-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider1 {
  background-image: url(../images/main_slide_01.png);
}

.slider2 {
  background-image: url(../images/main_slide_02.png);
}

.slider3 {
  background-image: url(../images/main_slide_03.png);
}

.slider4 {
  background-image: url(../images/main_slide_04.png);
}

.slider5 {
  background-image: url(../images/main_slide_05.png);
}


/* 검색 */
.search {
  width: 1200px;
  height: 70px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 50px;
}

.search p {
  font-size: 30px;
  width: 15%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  display: block;
  /* background-color: #000; */
}

.search input {
  height: 70px;
  border: none;
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  width: 70%;
}

.search-btn {
  background-color: #0075FF;
  width: 15%;
  height: 70px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
}


/* 로그인 */

.banner-wrap {
  width: 1200px;
  height: 300px;
  margin-top: 50px;
}

.login-wrap {
  width: 340px;
  height: 330px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  border-radius: 10px;
  margin: 0;
}

.login {
  height: 270px;
  margin: 5px 0;
}

.logbt {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: 1px solid #595757;
  border-radius: 10px;
  background-color: white;
  font-family: 'Pretendard-Regular';
  color: #595757;
  cursor: pointer;
  margin-bottom: 10px;
}

.naver {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: 1px solid #595757;
  border-radius: 10px;
  background-color: white;
  font-family: 'Pretendard-Regular';
  color: #595757;
  cursor: pointer;
}

.id {
  border: none;
  background-color: #eee;
  width: 100%;
  height: 40px;
  font-size: 12px;
  border-radius: 10px 10px 0 0;
  padding-left: 20px;
  margin-bottom: 10px;
}

.pw {
  border: none;
  background-color: #eee;
  width: 100%;
  height: 40px;
  font-size: 12px;
  border-radius: 0 0 10px 10px;
  padding-left: 20px;
  margin-bottom: 15px;
}

.save {
  font-size: 14px;
  margin-left: 5px;
  margin-top: -2px;
}

.idsave {
  margin: 15px 10px;
}

.btspot {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font-size: 14px;
}

.btspot li {
  padding-top: 5px;
  width: 33.3333%;
}

.btspot li a {
  text-align: center;
  display: block;
  border-right: 1px solid #ddd;
  color: #106AB2;
}

.btspot li:last-child a {
  border-right: none;
  font-weight: bold;
}

.find {
  width: 830px;
  height: 140px;
  background-color: #e1f5ff;
  background-image: url(../images/find-service.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 35px;
  display: block;
}

.find p {
  font-size: 25px;
  width: 350px;
  height: 70px;
  text-align: center;
}

.help {
  display: block;
  width: 830px;
  height: 140px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 50px;
}

.help-text {
  text-align: center;
}

.help-text h3 {
  margin-bottom: 10px;
  display: block;
}

.help-text hr {
  width: 80%;
  margin: 5px 10%;
}

.help-text p:last-child {
  color: #999;
}

.promotion {
  width: 100%;
  height: 600px;
  margin-top: 100px;
  background-color: #0075ff;
  margin-bottom: 100px;
}

.promotion-title {
  width: 300px;
  height: 180px;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 180px;
  font-size: 20px;
}

.icon-wrap {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 0;
}

.promotion-icon {
  width: 25%;
  color: #fff;
  text-align: center;
}

.promotion-icon div {
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.icon1 {
  background-image: url(../images/icon\ \(1\).png);
}

.icon2 {
  background-image: url(../images/icon\ \(2\).png);
}

.icon3 {
  background-image: url(../images/icon\ \(3\).png);
}

.icon4 {
  background-image: url(../images/icon\ \(4\).png);
}

.icon5 {
  background-image: url(../images/icon\ \(5\).png);
}

.icon6 {
  background-image: url(../images/icon\ \(6\).png);
}

.icon7 {
  background-image: url(../images/icon\ \(7\).png);
}

.icon8 {
  background-image: url(../images/icon\ \(8\).png);
}

.promotion-icon P:last-child {
  font-size: 14px;
}

.notice-wrap {
  width: 1200px;
  height: 330px;
  margin-bottom: 100px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 20px 80px;
  overflow: hidden;
}

.notice-title p {
  font-size: 30px;
}

.notice-title a {
  margin-top: 210px;
  display: block;
}

.notice-title a i {
  font-size: 14px;
}

.notice-con li {
  margin-bottom: 18px;
  border-bottom: 1px solid #ddd;
  width: 800px;
}

.notice-con li a {
  width: 80%;
  display: block;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s;
}

.notice-con li a:hover {
  color: #0075FF;
}

.notice-con li>span {
  width: 19%;
  display: block;
  float: left;
  text-align: right;
}

.sit-map-wrap {
  width: 100%;
  height: 1000px;
  background-color: #eee;
  padding: 100px;
}

.sit-map {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 80px 0;
}

.map {
  width: 25%;
}

.map li:first-child {
  font-size: 20px;
  margin-bottom: 10px;
}

.map li {
  margin-bottom: 5px;
}

.mo-sit-map {
  display: none;
}

.top {
  position: fixed;
  right: 50px;
  bottom: 100px;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  width: 50px;
  height: 50px;
  background-color: #0075FF;
  border-radius: 50px;
  cursor: pointer;
  display: none;
  z-index: 99999;
}

/* 푸터 */
footer {
  width: 100%;
  height: 300px;
  background-color: #555;
  color: #fff;
  font-size: 14px;
}

.bt-gnb-wrap {
  height: auto;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.bt-gnb {
  width: 1200px;
}

.bt-gnb-con a {
  display: block;
  height: 50px;
  line-height: 50px;
  margin-right: 15px;
}

.bt-sns {
  height: 50px;
  position: relative;
  float: right;
}

.facebook,
.blog {
  display: block;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -17.5px;
}

.facebook {
  background-image: url(../images/facebook_f.png);
  right: 15px;
}

.blog {
  background-image: url(../images/blog_b.png);
}

.bt-contents {
  width: 1200px;
  position: relative;
}

.company,
.lab {
  margin-top: 30px;
}

.company p,
.lab p {
  margin-bottom: 10px;
}

.company p:last-child {
  /* margin-top: 100px; */
  letter-spacing: -1px;
  margin-bottom: 70px;
}

.lab-con {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

.lab-img1 {
  background-image: url(../images/f-award1.png);
}

.lab-img2 {
  background-image: url(../images/f-award2.png);
}

.lab-img3 {
  background-image: url(../images/kisa_logo.png);
}

.lab-img4 {
  background-image: url(../images/siteSealImage.gif);
  width: 102px;
  background-size: cover;
}


.bt-logo {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -95.5px;
}

.newlogo,
.white {
  height: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.newlogo {
  background-image: url(../images/newlogo.png);
  width: 99px;
  margin-right: 10px;
}

.white {
  background-image: url(../images/logo_dothome.png);
  width: 92px;
}

/* 반응형 */
@media screen and (max-width: 1200px) {
  .w-wrap {
    width: 970px;
  }

  .main-gnb {
    margin-left: 10px;
  }

  .logo {
    margin-left: 0px;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .sub-con {
    height: 230px;
    position: absolute;
    display: none;
  }

  .sub-gnb {
    display: flex;
    position: absolute;
    width: 970px;
  }


  /* 슬라이드 */
  .slider-wrap {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
  }

  .slider-btn {
    width: 970px;
    position: absolute;
    left: 50%;
    margin-left: -485px;
    height: 500px;
  }

  .slider-item {
    position: absolute;
    top: 0;
    left: 100%;
    transition: all 0.5s;
    width: 100%;
    height: 500px;
  }

  .slider-con {
    position: absolute;
    width: 100%;
    height: 500px;
    left: 50%;
    margin-left: -400px;
  }

  .slider-img {
    position: relative;
    width: 1200px;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .search {
    width: 970px;
    height: 70px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
  }

  .banner-wrap {
    width: 970px;
    height: 330px;
    margin-top: 50px;
  }

  .find {
    width: 600px;
    height: 110px;
    background-color: #e1f5ff;
    background-image: url(../images/find-service.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    display: block;
  }

  .help {
    display: block;
    width: 600px;
    height: 190px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 30px;
  }

  .help-text p {
    padding: 0 30px;
  }

  .icon-wrap {
    width: 970px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 0;
  }

  .notice-wrap {
    width: 970px;
    height: 330px;
    margin-bottom: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 20px 80px;
    overflow: hidden;
  }

  .notice-con li {
    margin-bottom: 18px;
    border-bottom: 1px solid #ddd;
    width: 600px;
  }

  .sit-map-wrap {
    width: 100%;
    height: 1000px;
    background-color: #eee;
    padding: 100px;
  }

  .sit-map {
    width: 970px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 80px 0;
  }

  /* 푸터 */

  footer {
    width: 100%;
    height: 300px;
    background-color: #555;
    color: #fff;
    font-size: 14px;
  }

  .bt-gnb-wrap {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  .bt-gnb {
    width: 970px;
  }

  .bt-gnb-con a {
    display: block;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
  }

  .bt-sns {
    height: 50px;
    position: relative;
  }

  .facebook,
  .blog {
    display: block;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -17.5px;
  }

  .facebook {
    background-image: url(../images/facebook_f.png);
    right: 15px;
  }

  .blog {
    background-image: url(../images/blog_b.png);
  }

  .bt-contents {
    width: 970px;
    position: relative;
  }

  .company,
  .lab {
    margin-top: 30px;
  }

  .company p,
  .lab p {
    margin-bottom: 10px;
  }

  .company p:last-child {
    /* margin-top: 100px; */
    letter-spacing: -1px;
    margin-bottom: 70px;
    font-size: 12px;
  }

  .newlogo,
  .white {
    height: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .newlogo {
    background-image: url(../images/newlogo.png);
    width: 99px;
    margin-right: 10px;
  }

  .white {
    background-image: url(../images/logo_dothome.png);
    width: 92px;
  }
}


@media screen and (max-width: 970px) {

  .w-wrap {
    width: 770px;
  }

  .main-gnb {
    margin-left: 10px;
    display: none;
  }

  .spot-menu {
    display: none;
  }

  .mo-menu-open {
    font-size: 30px;
    line-height: 85px;
    cursor: pointer;
    display: block;
    position: relative;
    right: 0;
  }

  .mo-gnb {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 99999;
    margin: 0;
    top: 0;
    left: 0;
    overflow: auto;
  }


  .mo-gnb-wrap {
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: fixed;
    background-color: #fff;
  }

  .mo-spot-wrap {
    width: 770px;
  }

  .mo-spot {
    height: 85px;
    line-height: 85px;
  }

  .mo-spot li:first-child::after {
    content: '|';
    margin: 0 5px;
  }

  .mo-menu-close {
    font-size: 30px;
    line-height: 85px;
    cursor: pointer;
  }

  .mo-menu {
    width: 100%;
    margin-top: 95px;
    margin-bottom: 30px;
  }

  .mo-menu a {
    display: block;
    height: 50px;
    padding: 10px 15px;
    line-height: 30px;
  }

  .mo-menu>li>a {
    width: 770px;
    display: block;
  }

  .mo-menu>li:nth-child(6) {
    border-bottom: 1px solid #eee;
  }

  .mo-sub {
    width: 100%;
    background-color: #eee;
    display: none;
  }

  .mo-sub li {
    width: 770px;
  }

  .close,
  .sit-close,
  .fa-angle-up {
    line-height: 30px;
  }

  .fa-angle-up .container {
    width: 770px;
    height: 100%;
  }

  .sub-con {
    height: 230px;
    position: absolute;
    display: none;
  }


  /* 슬라이드 */
  .slider-wrap {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
  }

  .slider-btn {
    width: 770px;
    position: absolute;
    left: 50%;
    margin-left: -385px;
    height: 500px;
  }

  .slider-item {
    position: absolute;
    top: 0;
    left: 100%;
    transition: all 0.5s;
    width: 100%;
    height: 500px;
  }

  .slider-con {
    position: absolute;
    width: 770px;
    left: 50%;
    margin-left: -300px;
    margin-top: -70px;
  }

  .slider-img {
    position: relative;
    height: 800px;
    right: 180px;
    top: -70px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .search {
    width: 770px;
    height: 70px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
  }

  .search p {
    font-size: 20px;
    width: 15%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    display: block;
    /* background-color: #000; */
  }

  .search input {
    height: 70px;
    border: none;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    width: 70%;
  }

  .search-btn {
    background-color: #0075FF;
    width: 15%;
    height: 70px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
  }

  .banner-wrap {
    width: 770px;
    margin-top: 30px;
    height: auto;
  }

  .login-wrap {
    width: 100%;
    height: 330px;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    float: none;
  }

  .banner {
    float: none;
    margin-top: 30px;
  }

  .find {
    width: 770px;
    height: 110px;
    background-color: #e1f5ff;
    background-image: url(../images/find-service.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    display: block;
  }

  .help {
    display: block;
    width: 770px;
    height: 190px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 20px 0;
    margin-top: 30px;
  }

  .help-text p {
    padding: 0 30px;
  }

  .icon-wrap {
    width: 770px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 0;
  }

  .promotion {
    height: 1000px;
  }

  .promotion-title {
    width: 500px;
    height: 180px;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 180px;
    font-size: 30px;
  }

  .promotion-icon {
    width: 50%;
    height: 150px;
  }

  .notice-wrap {
    width: 770px;
    height: 330px;
    margin-bottom: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 20px 30px;
    overflow: hidden;
  }

  .notice-con li {
    margin-bottom: 18px;
    border-bottom: 1px solid #ddd;
    width: 500px;
  }

  .sit-map-wrap {
    width: 100%;
    height: auto;
    background-color: #eee;
    padding: 50px 0;
  }

  .sit-map {
    display: none;
  }

  .mo-sit-map {
    display: block;
  }

  .mo-sit-menu {
    width: 770px;
  }

  .mo-sit-menu>li {
    padding: 10px 0;
    cursor: pointer;
    margin: 5px 0;
  }

  .mo-sit-menu>li:hover span,
  .mo-sit-sub>li:hover a {
    border-bottom: 1px solid #000;
  }

  .mo-sit-sub {
    display: none;
  }

  .mo-sit-sub li {
    padding: 10px 15px;
    width: 100%;
  }

  /* 푸터 */

  footer {
    width: 100%;
    height: 500px;
    background-color: #555;
    color: #fff;
    font-size: 14px;
  }

  .bt-gnb-wrap {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  .bt-gnb {
    width: 770px;
  }

  .bt-gnb-con a {
    display: block;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
  }

  .bt-sns {
    height: 50px;
    position: relative;
  }

  .facebook,
  .blog {
    display: block;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -17.5px;
  }

  .facebook {
    background-image: url(../images/facebook_f.png);
    right: 15px;
  }

  .blog {
    background-image: url(../images/blog_b.png);
  }

  .bt-contents {
    width: 770px;
    position: relative;
  }

  .company,
  .lab {
    margin-top: 30px;
    float: none;
  }

  .company p,
  .lab p {
    margin-bottom: 10px;
  }

  .company p:last-child {
    margin-top: -80px;
    letter-spacing: -1px;
    margin-bottom: 80px;
    font-size: 12px;
    position: absolute;
    top: 300px;
  }
  

  .lab-img {
    float: right;
  }

  .bt-logo {
    position: static;
    bottom: 5px;
    left: 50%;
    margin-left: 0;
    margin-top: 130px;
  }

  .newlogo,
  .white {
    height: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .newlogo {
    background-image: url(../images/newlogo.png);
    width: 99px;
    margin-right: 10px;
  }

  .white {
    background-image: url(../images/logo_dothome.png);
    width: 92px;
  }
}





@media screen and (max-width: 770px) {

  .w-wrap {
    width: 100%;
    padding: 0 20px;
  }

  .main-gnb {
    margin-left: 10px;
    display: none;
  }

  .spot-menu {
    display: none;
  }

  .mo-menu-open {
    font-size: 30px;
    line-height: 85px;
    cursor: pointer;
    display: block;
    position: relative;
    right: 0;
  }

  .mo-gnb {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 99999;
    margin: 0;
    top: 0;
    left: 0;
    overflow: auto;
  }


  .mo-gnb-wrap {
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: fixed;
    background-color: #fff;
    padding: 0 20px;
  }

  .mo-spot-wrap {
    width: 770px;
  }

  .mo-spot {
    height: 85px;
    line-height: 85px;
  }

  .mo-spot li:first-child::after {
    content: '|';
    margin: 0 5px;
  }

  .mo-menu-close {
    font-size: 30px;
    line-height: 85px;
    cursor: pointer;
    position: absolute;
    right: 20px;
  }

  .mo-menu {
    width: 100%;
    margin-top: 95px;
    margin-bottom: 30px;
  }

  .mo-menu a {
    display: block;
    height: 50px;
    padding: 10px 15px;
    line-height: 30px;
  }

  .mo-menu>li>a {
    width: 770px;
    display: block;
  }

  .mo-menu>li:nth-child(6) {
    border-bottom: 1px solid #eee;
  }

  .mo-sub {
    width: 100%;
    background-color: #eee;
    display: none;
  }

  .mo-sub li {
    width: 770px;
  }

  .close,
  .sit-close,
  .fa-angle-up {
    line-height: 30px;
    position: absolute;
    right: 20px;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .sub-con {
    height: 230px;
    position: absolute;
    display: none;
  }

  .contents {
    width: 100%;
  }

  /* 슬라이드 */
  .slider-wrap {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
  }

  .slider-btn {
    left: 0;
    margin-left: 0;
    width: 100%;
    position: absolute;
    height: 400px;
  }

  .slider-btn i {
    font-size: 30px;
    color: #000;
    cursor: pointer;
    z-index: 10;
  }

  .slider-btn .fa-chevron-right {
    right: 20px;
  }

  .slider-btn .fa-chevron-left {
    left: 20px;
  }

  .slider {
    position: relative;
    height: 100%;
  }

  .slider-item {
    position: absolute;
    top: 0;
    left: 100%;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
  }

  .slider-con {
    position: relative;
    width: 75%;
    height: 100%;
    left: 13%;
    top: 15px;
    margin-top: 0;
    margin-left: 0;
  }

  .slider-con h1 {
    margin-top: 0;
    font-size: 25px;
  }

  .slider-img {
    position: absolute;
    height: 60%;
    right: 280px;
    top: 180px;
    right: -300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .slider5 {
    top: 200px;
  }

  .search {
    width: 95%;
    height: 70px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
  }

  .search p {
    font-size: 20px;
    width: 15%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    display: block;
    /* background-color: #000; */
  }

  .search input {
    height: 70px;
    border: none;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    width: 70%;
  }

  .search-btn {
    background-color: #0075FF;
    width: 15%;
    height: 70px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
  }

  .banner-wrap {
    width: 100%;
    margin-top: 30px;
    height: auto;
  }

  .login-wrap {
    width: 95%;
    height: 330px;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    float: none;
  }

  .banner {
    float: none;
    margin-top: 30px;
  }

  .find {
    width: 95%;
    height: 110px;
    background-color: #e1f5ff;
    background-image: url(../images/find-service.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    display: block;
  }

  .help {
    display: block;
    width: 95%;
    height: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 20px 0;
    margin-top: 30px;
  }

  .help-text p {
    padding: 0 30px;
  }

  .none {

    display: none;
  }

  .icon-wrap {
    width: 100%;
    display: block;
    padding-bottom: 50px;
  }

  .promotion {
    height: auto;
    margin-top: 50px;
  }

  .promotion-title {
    width: 100%;
    height: 180px;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 180px;
    font-size: 30px;
  }

  .promotion-icon {
    width: 80%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .promotion-icon div {
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    float: left;
  }

  .icon {
    margin: 0;
    margin-right: 30px;
  }

  .promotion-icon>p {
    float: right;
    margin-left: 50px;
    margin-bottom: 10px;
    margin: 0;
    line-height: 50px;
    height: auto;
  }

  .promotion-icon>p:last-child {
    width: 100%;
    line-height: 1.5;
    margin-top: -30px;
  }

  .notice-wrap {
    width: 95%;
    height: auto;
    margin-bottom: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 20px 30px;
    overflow: hidden;
  }

  .notice-title {
    float: none;
  }

  .notice-title p {
    float: left;
  }

  .notice-title a {
    float: right;
    margin-top: 10px;
  }

  .notice-con {
    width: 100%;
    float: none;
    margin-top: 20px;
  }

  .notice-con li {
    margin-bottom: 18px;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }

  .notice-con li a {
    width: 75%;
  }

  .notice-con li>span {
    float: right;
  }

  .sit-map-wrap {
    width: 100%;
    height: auto;
    background-color: #eee;
    padding: 50px 0;
  }

  .sit-map {
    display: none;
  }

  .mo-sit-map {
    display: block;
  }

  .mo-sit-menu {
    width: 95%;
  }

  .mo-sit-menu>li {
    padding: 10px 0;
    cursor: pointer;
    margin: 5px 0;
  }

  .mo-sit-menu>li:hover span,
  .mo-sit-sub>li:hover a {
    border-bottom: 1px solid #000;
  }

  .mo-sit-sub {
    display: none;
  }

  .mo-sit-sub li {
    padding: 10px 15px;
    width: 100%;
  }

  /* 푸터 */

  footer {
    width: 100%;
    height: auto;
    background-color: #555;
    color: #fff;
    font-size: 14px;
    padding-bottom: 30px;
  }

  .bt-gnb-wrap {
    height: auto;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  .bt-gnb {
    width: 95%;
    height: auto;
  }

  .bt-gnb-con {
    margin: 0;
    float: left;
  }

  .bt-gnb-con a {
    display: block;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
  }

  .bt-sns {
    height: 50px;
    margin: 0;
    float: right;
    width: 80px;
  }

  .facebook,
  .blog {
    display: block;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -17.5px;
  }

  .facebook {
    background-image: url(../images/facebook_f.png);
    right: 15px;
  }

  .blog {
    background-image: url(../images/blog_b.png);
  }

  .bt-contents {
    width: 95%;
    position: relative;
  }

  .company,
  .lab {
    margin-top: 30px;
    float: none;
  }

  .company p,
  .lab p {
    margin-bottom: 10px;
  }

  .company p:last-child {
    margin-top: -80px;
    letter-spacing: -1px;
    margin-bottom: 80px;
    font-size: 12px;
    position: absolute;
    top: 300px;
    width: 40%;
  }

  .lab-img {
    float: right;
  }

  .bt-logo {
    position: static;
    bottom: 5px;
    left: 50%;
    margin-left: 0;
    margin-top: 130px;
  }

  .newlogo,
  .white {
    height: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .newlogo {
    background-image: url(../images/newlogo.png);
    width: 99px;
    margin-right: 10px;
  }

  .white {
    background-image: url(../images/logo_dothome.png);
    width: 92px;
  }
}




/* 효과 */
/*위에서 살짝 떨어지는 밑줄*/
.drop {
  position: relative;
  padding-bottom: 3px;
}

.drop:before {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000;
}

.drop:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop:hover:before {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}